body{
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(226, 225, 225);
    /* 
    color: rgb(34, 33, 33);
  
    margin: 0px;
    margin-bottom: 15px;
    max-width: 900px;
    margin: auto; */

}

.img-topo{
     border-radius: 50%;
     padding-left: 15px;
     
}
/* .img-post{
    width: 60%;
} */

#title, .subtitle{
    background-color: gray;
    border: 3px solid rgb(250, 250, 121);
    border-radius: 1%;

}

#title{
    font-size: 30px;
     padding:15px 20px ; 
    text-transform: uppercase;
}
.post-title{
    font-size: 18px;
    margin: 15px;
    margin-bottom: 15px; 
}
.subtitle {
   font-size: 18px;
   font-style: italic; 
   padding-left: 15px;
}
.post-content{
    margin: 0;
    margin-bottom: 20px; 
    text-transform: uppercase;
    text-align: left;
}

p{
    font-size: large;
     padding-left: 15px; 
}
a{
    text-decoration:none ;
    
}
.contact-list{
    list-style-type:none;
    padding-left:15px;  
}

 